

html, body {
    margin: 0;
    padding: 0;
  }  
.spacer {
        display: flex;
        align-items: center;
        aspect-ratio:1080/545;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        justify-content: center;
}
.layer1{
    background-image:url('./layer1.svg') ;
}
.title--wrapper{

}
.container{
    display: flex;
    flex-direction: column;
    padding: 5 px;
    align-items: center;
    justify-content: center;
    
    border: 1px solid rgb(2, 0, 37);
    width: 92%;
    height:95%;
    backdrop-filter: blur(5px);
    background-color: rgb(108, 108, 255,0.01);
    margin: 10 px;
    box-shadow: rgb(13, 0, 0);
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    border-radius: 3px;
}

.title{
    border: 1px solid white;
    position: relative;
    width: 50%;
    height: 10%;
    margin-bottom: 2px;
    margin:20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title::after{
    opacity: 1;
    content:'';
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: conic-gradient(transparent,transparent,transparent,#ff72ff);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.title::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: conic-gradient(transparent,transparent,transparent,#84e6ff);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}
.title span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    inset: 4px;
    background: #0c1022;
    border-radius: 3px;
    z-index: 1;

}
.title h1{
    text-align: center;
    z-index: 2;
    font: size 27px;;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #0c1022;
     position: relative;
     color: rgb(254, 254, 254);
     font-size: 25px;
}

.symb {
    z-index: 2;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.box-one{
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #16161a;
    border: 1px solid rgb(9, 0, 42);
    width: 80%;
    height: 40%;
    margin:20px;
    border-radius: 5px;
    box-shadow: 1px 10px 20px rgb(43, 0, 0);
}
.clock{
    align-items: center;
    box-sizing: border-box;
    border: 1px rgb(87, 0, 0) solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16161a;
    border-radius: 5px;
    box-shadow: #ffffff;

}
.timeBox{
    background-color: bisque;
}
#time{
    display: flex;
    background-color: #16161a;
    gap: 40px;
    color: rgb(255, 255, 255);
}

#time .circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 30px;
}
#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #000000;
    stroke-width: 5;
    transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
}

#time div{
    position:absolute;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    border: 5 ;
}
#time div span {
  
    position:static;
    transform: translateX(-50%) translateY(-10px);
    font-size:0.25em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#time .ap{
    position:relative;
    font: 1em;
    transform: translate(-20px);
}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.dots::before{
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius:50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);

}

.box-two{
    display: flex;
    justify-content: space-around;
   
    width: 80%;
    height: 40%;
    margin:20px;
    align-items: center;
    
}
.two-wrapper{
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    border: 1px solid grey;
    height: 70%;
    width: 90%; 
    border-radius:15px;
    background: linear-gradient(145deg, #141523, #18192a);
    box-shadow:  10px 10px 20px#121320,
             -10px -10px 20px #1a1b2e;
             
}
.box-up{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    height: 40%;
    
    width: 80%;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    height: 60%;
    width: 7%;
    float: left;
}
img {
    height:50% ;
    width: 50%;
}

.text-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    float: left; width: 50%;
    height: 60%;
    color: white;
    font-size: 22px;
    font-family: 'Red Hat Display', sans-serif;



}
.drop{
    float: right; width: 30%;
    height: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}
img {
    height:50% ;
    width: 50%;
}
.box-down{
    border: 1px solid white;
    height: 30%;
    width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed rgb(176, 176, 176);
    height: 70%;
    width: 40%;
    float: left;

}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    height: 60%;
    width: 40%;

}
.right-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed rgb(176, 176, 176);
    height: 70%;
    width: 40%;
    float: right;

}
.second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    height: 60%;
    width: 40%;
}
p{
    color: white;
}

/* .main{
    background-color: black;
   border: 1px solid black;
   width: 100%;
    height: 720px;
} */

/* Dropdown Button */
.dropbtn {
    text-align: center;
    width: 180px;
    height: 95%;
    font-family: 'Red Hat Display', sans-serif;
    padding: 10px;
    background-color: #141523;
    color: white;
    font-size: 20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  


  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1;
  }

  


  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
  }
  


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #140e32;}